#chat-container {
    background-color: darkgray;
    width: -webkit-fill-available;
    max-width: 960px;
    height: 100vh;
    position: relative;
    display: flex;
    padding: 0;
}

.message-form-container {
    align-items: center;
    display: flexbox;
}

#messages-container {
    width: 70%;
    max-width: 70%;
    padding-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#active-users-container {
    background-color: lightgray;
    width: 30%;
    padding: 15px 10px;
}

.message-form-input {
    background-color: slategray !important;
    color: white !important;
    width: 85%;
    border-radius: .25rem;
    margin-right: 5px;
}

.message-form-input::placeholder {
    color: lightgray !important;
}

.message-form-button {
    width:10%;
}

.message-form-form {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    margin-left: 10px;
    flex: 0 1 auto;
}

.message-span {
    margin-right: 3px;
}

.message {
    overflow-wrap: break-word;
}

#display-username{
    flex: 0 1 auto;
    margin-left: 10px;
}

.list-group {
    flex: 1 1 auto !important;
    overflow-y: scroll;
}

.list-group-item:first-child {
    margin-top: auto !important;
}

