#chat-container {
    background-color: darkgray;
    width: -webkit-fill-available;
    max-width: 960px;
    height: 100vh;
    position: relative;
}

.message-form-container {
    align-items: center;
    display: flexbox;
    
}

.message-form-input {
    background-color: slategray !important;
    color: white !important;
    width: 100%;
    border-radius: .25rem;
    margin-right: 5px;
}

.message-form-input::placeholder {
    color: lightgray !important;
}

.message-form-form {
    width: 90%;
    display: inline-flex;
    position: absolute;
    bottom: 5px;
}

.message-span {
    margin-right: 3px;
}

